body {
  position: relative;
}
.rectangles {
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.rectangles > div {
  position: absolute;
}

.rectangle49 {
  width: 272px;
  height: 355px;
  top: -200px;
  right: 91px;
}

.rectangle43 {
  width: 169.6px;
  height: 169.6px;
  right: -36.6px;
  bottom: 65px;
}

.rectangle44 {
  width: 169.6px;
  height: 169.6px;
  right: -36.6px;
  bottom: 264px;
}

.rectangle45 {
  width: 169.6px;
  height: 169.6px;
  right: -36.6px;
  bottom: -137px;
}

.rectangle48 {
  width: 369px;
  height: 369px;
  right: 163px;
  bottom: -158px;
}

.rectangle43, .rectangle44, .rectangle45, .rectangle48, .rectangle49 {
  position: absolute;
  border: 5px solid #d7d1dd;
  border-radius: 40px;
}