.title::after {
    content: "";
    width: 4.5rem;
    background-color: #4c1691;
    position: absolute;
  
    height: 6px;
    bottom: 1px;
    left: 489px;
    top: 175px;
    border-radius: 15px;
}

hr {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.resetInputEmail{
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: 58px;
    border: 1px solid #bdbdbd;
    color: #6a6f73;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
    margin: 20px 35px;

} 

.resetInputEmail svg {
    margin-left: 20px;
    font-size: 20px;
  }

  .inputcard {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-size: 20px;
    margin-left: 10px;
}